
    <style>
        .coupon-icon {
            width: 40px;
            height: 40px;
            background-color: #e9ecef;
            border-radius: 4px;
        }

        .coupon-button {
            min-width: 80px;
        }
    </style>


    {{> user/header}}


<div class="container py-4">
    <h1 class="mb-4">Your Coupons</h1>
    <div class="row">
        {{#each coupons}}
        <div class="col-md-6 mb-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title mb-1">{{couponOffer}}% Off</h5>
                    <p class="card-text">Coupon Code: <strong>{{code}}</strong></p>
                    <p class="card-text mb-0">Use this coupon to get <strong>{{couponOffer}}%</strong> off on your next purchase!</p>
                    <p class="card-text">Minimum Purchase <strong>{{minAmount}}</strong>, Maximum Amount <strong>{{maxAmount}}</strong></p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>




